.main {
    text-align: center;
    justify-content: right;
    display: flex; 
    padding-top: 90px;
    padding-bottom:90px;
    padding-right: 90px;
    background-image:url("../images/BG.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1800px 900px;
    
    
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 26%;
    /*box-shadow: 9px 9px 9px 9px rgb(207, 207, 207);*/
    padding-bottom: 20px;
    border-radius: 30px; 
    background-color: white;
    margin-top: -20px;
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 125px;
    width: 125px;
  }
  .profile {
    height: 110px;
    width: 110px;
    border-radius: 130px;
  } 

  input{
      width: 70%;
      height: 50px;
      border-radius: 60px;
      border:none;
      outline:none; 
      background-color: #dbe9f4;
  }
/* .name:hover{
  box-shadow: inset 0px 0px 25px 0px rgba(66, 87, 107, 0.205);
} */

.email{
    height: 40px;
    width: 48px;
    position: absolute;
    padding: 8px 0 0 25px;
}
.h4{
  padding-left: 15px;
  color: #0e4064;
  text-align: left;
 
}
.name{
    padding-left: 90px;
    font-size: 20px;

}

.h2{
  padding-top: 10px ;
  color:#0e4064;
}
.button{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background-color: #8bc53f;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
.login-button{
    padding-top: 25px;
}

.link{
    font-size: 20px;
    font-weight: 400;
    color: #0e4064 ;
    padding-top: 10px;
}

 