*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
   
}
li {
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration-color : white;
    text-decoration: none;
}
.header{
    z-index: 50;
    width:100%;
    height: 80px;
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20%;
    background-color: #0e4064;
    color:white;
    
   
}
.logo {
    cursor: pointer;

}
.nav_link{
    list-style: none;

}
.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li  {
    transition: all 0.3s ease 0s;
}

.nav_link li,a:hover {
    color:#8bc53f;
}
.a{
    text-decoration: none;
    color:white;
}
