
.searchInput {
    width: '75%'
}
.pagecontainer{
    padding: 8% 3% !important;
    /* margin: 8% 5% ; */
    box-shadow: '0 8px 16px 0 #7a7a7a';
}
.pageContent{
    padding:2%
}
@media screen and (max-width:768px) {
    .pagecontainer{
        padding:2% 5% !important;
    }
}