
.searchInput {
    width: 80%;
}
.pagecontainer{
    padding: 3% 3% !important;
    margin-top: 6%;
    box-shadow: 0px 0px 5px 5px rgba(166, 185, 213, 0.766);
}
.pageContent{
    padding:3%
}
@media screen and (max-width:768px) {
    .pagecontainer{
        padding:2% 5% !important;
    }
}